1)
#pond {
  display: flex;
justify-content: flex-end
}


2)
#pond {
    display: flex;
  justify-content: center
  }


3)
  #pond {
    display: flex;
  justify-content: space-around
  }


4)
#pond {
    display: flex;
  justify-content: space-between
  }


  5)
  #pond {
    display: flex;
  align-items: flex-end
  }


  6)
  #pond {
    display: flex;
  align-items: center;
  justify-content: center
  }


  7)
  #pond {
    display: flex;
  justify-content: space-around;
  align-items: flex-end
  }


  8)
  #pond {
    display: flex;
  flex-direction: row-reverse
  }